<button (click)="getWithNoPara()"  >无参GET</button>
<button (click)="getWithpara()"  >带参GET</button>
<button (click)="getWithParaFromString()">  带参GET(FromString)</button>
<button (click)="getWithHttpHeader()"  >无参GET带httpHeader</button>
<button (click)="put()" >put替换</button>
<button (click)="patch()" >patch更新</button>
<button (click)="delete()" >delete删除</button>
<button (click)="post()" >post新增</button>

<ul *ngIf="customersObservable | async as customers else empty">
  <li *ngFor="let customer of customers">
  {{customer|json}}
  </li> 
</ul>